In [15]:
name = "sudheer"

In [ ]:
name = "sudheer"

In [ ]:
email = "mail@gmail.com"

In [ ]:
phone = 9989

In [ ]:
addre = "mahabu,warngl,tg"

In [ ]:
tax = 34+6j

In [1]:
name, email , phone , adree, tax = "sudheer", "mail@mail", 9989, "mbh,wgl", 345

In [ ]:
l = ["sdfs",234,345.45,True]    #any kind of data u can save in list

In [19]:
iD = ["sudheer",9989,"sudheer@gmail.com", "mbh,wgl",34+6j]

In [21]:
iD

['sudheer', 9989, 'sudheer@gmail.com', 'mbh,wgl', (34+6j)]

In [22]:
#Dictionary
# are used to store data key:value pair or values in key: values in pairs

id = {"name":"sudheer","phone":9989,"email":"sudheer@gma"}

In [25]:
id["name"]

'sudheer'

In [2]:
tax

345

In [ ]:
a = "sud'h"

In [17]:
b = 'sud"h'

In [3]:
a

'sudh'

In [4]:
b

'sudh'

In [4]:
#  

c = 'this is my first class for full stack data science  that s why i have joined this class '

In [5]:
c

'this is my first class for full stack data science  that s why i have joined this class '

In [9]:
c = 'this is my first class for full stack data science'  that s why i have joined this class ' #y this is invalid sta

SyntaxError: invalid syntax (Temp/ipykernel_7512/1010023691.py, line 1)

In [8]:
c

'this is my first class for full stack data science"  that s why i have joined this class '

In [21]:
!git config --global user.email "sudheer.ece2008@gmail.com"

In [22]:
!git config --global user.name "sudheer554"

In [4]:
s = "this is full stack class"

In [5]:
s[0]

't'

In [6]:
s[-1]    # -1  will applicable in revrse direction

's'

In [7]:
len(s)

24

range(0, 24)

In [8]:
s[100]

IndexError: string index out of range

In [9]:
s[4:6]

' i'

In [10]:
s[-1:-10:1]

''

In [11]:
s[-1:-10:-1]

'ssalc kca'

In [12]:
s

'this is full stack class'

In [13]:
s[::-1]

'ssalc kcats lluf si siht'

In [14]:
s

'this is full stack class'

In [3]:
s[::-2]

NameError: name 's' is not defined

In [15]:
s

'this is full stack class'

In [28]:
len(s)

24

In [27]:
range(len(s))

range(0, 24)

In [ ]:
for i in s:
    print(i)

In [ ]:
for i in range(len(s)):
    print(s[i])

In [37]:
k = "stringisaimutabullobeject"   #sting is a 'imutable object'

# imutability means u can not replace 'one data or one charactor' charactor

# this concept is callled 'imutability'

# variable reassignment operation is cld cmplt change varia

# use of imutability:

# if it reserve some space for u 

# u cant replace that value like 'passwords' 

# in so many other places use this concept

In [38]:
k[0] = "x"

TypeError: 'str' object does not support item assignment

In [41]:
s= ['imutability', 'chary', 'ravi']  #list is a 'mutable object'

In [42]:
s

['imutability', 'chary', 'ravi']

In [18]:
# i want to assign a new value at '0'th index

# reassignment operations

# it is not working in "str"

# there is concept of 'mutability ' and 'immutability'

s[0] = "x"

TypeError: 'str' object does not support item assignment

In [33]:
s = ["supri","chary","ravi"]

In [34]:
s[0] = "sudheer"

In [35]:
s

['sudheer', 'chary', 'ravi']

In [43]:
#concatenation operations #concatenate
"sudheer"+"chary"

'sudheerchary'

In [ ]:
"sudheer"+ "3"   # u have to do type cost  or str(3)

In [ ]:
"sudheer" + ["kumar", 4,6]  # u can not concatenate str+list

In [44]:
["sudheer",8] + ["sudhe",5,6,6] # u can concatenate list+list

['sudheer', 8, 'sudhe', 5, 6, 6]

In [46]:
"sudheer " * 6       #multiplication

'sudheer sudheer sudheer sudheer sudheer sudheer '

In [48]:
s = "sudheers"  #they are many inbuild functions using ' . sym' after var name
                # u will get all inbuilt methods
                # in future clases u will crate this kind of methods

In [57]:
s.find("s")       #arguments

0

In [59]:
s = "my name is sudhanshu kumar , Name of org is ineuro"

In [60]:
s

'my name is sudhanshu kumar , Name of org is ineuro'

In [118]:
s.find("name")            # give argument

3

In [119]:
s.find("name")   #if it is not there it will give like a '-1'
                 #arguments

3

In [66]:
b = s.find("name")  # it is iterable object 
                    #arguments

In [88]:
b

3

In [74]:


for i in range(len("name")):
    print(b + i)

3
4
5
6

In [92]:
s

'my name is sudhanshu kumar , Name of org is ineuro'

In [90]:
s.count("m")   #default function
               # it is giving u how many times it is

4

In [91]:
s.count("name")  # change lower case, upper case
                 # case sensitive

1

In [94]:
s.split()    # see i have given any 'delimeter'
             #sting. split
              # split will splip data based on spaces
              # and u output in 'list ' fasrmat

['my',
 'name',
 'is',
 'sudhanshu',
 'kumar',
 ',',
 'Name',
 'of',
 'org',
 'is',
 'ineuro']

In [96]:
s

'my name is sudhanshu kumar , Name of org is ineuro'

In [98]:
s.split("n")

['my ', 'ame is sudha', 'shu kumar , Name of org is i', 'euro']

In [100]:
s.split("na")

['my ', 'me is sudhanshu kumar , Name of org is ineuro']

In [78]:
type(s.split('na'))

list

In [101]:
s

'my name is sudhanshu kumar , Name of org is ineuro'

In [81]:
s.upper()   #string .UPPER
            # it will convert all the data into Upper case

'MY NAME IS SUDHANSHU KUMAR , NAME OF ORG IS INEURON'

In [82]:
s.lower()

'my name is sudhanshu kumar , name of org is ineuron'

In [102]:
s

'my name is sudhanshu kumar , Name of org is ineuro'

In [83]:
s.swapcase()    # where ever we have upper it will convert into lower
                # conver lower into upper

'MY NAME IS SUDHANSHU KUMAR , nAME OF ORG IS INEURON'

In [103]:
s.swapcase("name")

TypeError: str.swapcase() takes no arguments (1 given)

In [104]:
" ". join(s)

'm y   n a m e   i s   s u d h a n s h u   k u m a r   ,   N a m e   o f   o r g   i s   i n e u r o'

In [110]:
" s ".join(s)

'm s y s   s n s a s m s e s   s i s s s   s s s u s d s h s a s n s s s h s u s   s k s u s m s a s r s   s , s   s N s a s m s e s   s o s f s   s o s r s g s   s i s s s   s i s n s e s u s r s o'

In [111]:
reversed(s)    # another function
                # reversed it but u will not get out put
                # it will give u in object format
                # sure u will not understand it

In [122]:
list(reversed(s))

['o',
 'r',
 'u',
 'e',
 'n',
 'i',
 ' ',
 's',
 'i',
 ' ',
 'g',
 'r',
 'o',
 ' ',
 'f',
 'o',
 ' ',
 'e',
 'm',
 'a',
 'N',
 ' ',
 ',',
 ' ',
 'r',
 'a',
 'm',
 'u',
 'k',
 ' ',
 'u',
 'h',
 's',
 'n',
 'a',
 'h',
 'd',
 'u',
 's',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [123]:
for i in reversed(s):
    print(i)

o
r
u
e
n
i

s
i

g
r
o

f
o

e
m
a
N

,

r
a
m
u
k

u
h
s
n
a
h
d
u
s

s
i

e
m
a
n

y
m

In [91]:
s[::-1]   # u can do reversed like or that

'norueni si gro fo emaN , ramuk uhsnahdus si eman ym'

In [124]:
s = "       su  dh "

In [125]:
s

'       su  dh '

In [102]:
s.strip()    # it will remove after and befor string
             # not in between string

'su  dh'

In [126]:
s

'       su  dh '

In [103]:
s.lstrip()   #   it will remove left side space

'su  dh '

In [104]:
s.rstrip()  # it will remove right side space

'       su  dh'

In [128]:
s = "greeting from ineuron"

In [129]:
s.replace("gr" , 'swer')  # replace it and display not saved
                          # just recall the ' imutability ' concept
                          # string is ' imutable object'
                          # it is just doing string reconstruction

'swereeting from ineuron'

In [130]:
s

'greeting from ineuron'

In [131]:
s = s.replace("gr" , 'swer')  # complete string reasignment operation

In [132]:
s

'swereeting from ineuron'

In [115]:
s = "sudh"

In [117]:
s = s.replace("u" , "kumar")

In [133]:
s

'swereeting from ineuron'

In [114]:
s[1] = "kumar"    #this is not allowed

TypeError: 'str' object does not support item assignment

In [136]:
s = "sudh"

In [137]:
s.center(23 , '@')  # its not useful method at all
                    #it will take two charactors like 'ar'

'@@@@@@@@@@sudh@@@@@@@@@'

In [ ]:
s.center(20, ' ')  # even u can use 'space'

In [144]:
s = "sudheer\tchary"   # three spaces in beteen 1 \t

In [145]:
s.expandtabs()

'sudheer chary'

In [142]:
s = "sudh\tku\tmar"

In [143]:
s.expandtabs()

'sudh    ku      mar'

we all are a part of full stack

TypeError: 'str' object is not callable

In [ ]:
#task

In [148]:
a="We all are a part of Full Stack"
b=a.lower()
b

'we all are a part of full stack'

In [149]:
c=a.count("a")
c

5

In [145]:
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)

3
7
11
14
28

In [147]:
d=a.replace("a","iNeuron")
d

'We iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [148]:
e=a.split()
print(e)

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [152]:
a="We all are a part of Full Stack"
b=a.lower()
print(b)
c=a.count("a")
print("The count of a is ",c)
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)
d=a.replace("a","iNeuron")
print(d)
e=a.split()
print(e)

we all are a part of full stack
The count of a is  5
3
7
11
14
28
We iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck
['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [153]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [135]:
a='We are Part of Full Stack'
b=a.lower()
print('lower :',b)
c=a.count('a')
print('Count of a :',c)
for i in range(1,25):
    if a[i]== 'a':
        print(i)
str=a.replace('a','iNeuron')
print('Replace a with iNeuron :',str)

lower : we are part of full stack
Count of a : 3
3
8
22
Replace a with iNeuron : We iNeuronre PiNeuronrt of Full StiNeuronck

In [154]:
a="we all are a part of Full Stack"
a=a.lower()
c=a.count("a")
print("count of a=",c)

count of a= 5

In [158]:
a="we all are a part of Full Stack"
a=a.lower()
c=a.count("a")
print("count of a=",c)
l=[]
for e in range(len(a)):
    if a[e]=="a":
        l.append(e)
print("all indexes of 'a':",l)

count of a= 5
all indexes of 'a': [3, 7, 11, 14, 28]

In [159]:
a=a.replace("a","iNeuron")    
a.split()

['we',
 'iNeuronll',
 'iNeuronre',
 'iNeuron',
 'piNeuronrt',
 'of',
 'full',
 'stiNeuronck']

In [160]:
a = "we all are a part of Full Stack"
a = a.lower()
count_a = a.count('a')
print("The count of a is",a)
index_a=[]
for i in range(len(a)):
    if(a[i]=='a'):
        index_a.append(i)
print("Indexs of a",index_a)
for i in range(len(a)):
    if(a[i]=='a'):
        a=a.replace('a','ineuron')
        print(a)
        
a.split()

The count of a is we all are a part of full stack
Indexs of a [3, 7, 11, 14, 28]
we ineuronll ineuronre ineuron pineuronrt of full stineuronck

['we',
 'ineuronll',
 'ineuronre',
 'ineuron',
 'pineuronrt',
 'of',
 'full',
 'stineuronck']

In [146]:
s = "Fds"

In [147]:
s.isupper()     #what ever function start with 'is ' it will give u ture

False

In [182]:
s.islower()

True

In [183]:
s.isspace()

False

In [186]:
s.isdigit()

True

In [189]:
s.endswith('s')

True

In [192]:
s.startswith("s")

True

In [202]:
s.isalnum()

True

In [205]:
s.isalpha()

True

In [208]:
s.istitle()

True

In [211]:
len(s)

26

In [209]:
s = "this is a full stack batch"

In [212]:
count = 0 
for i in  s :
    count = count +1 
print(count)

26

In [216]:
for i in range(1, len(s)) :
    print(s[-i])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [218]:
s = "sudh"
ch = len(s) -1
while ch >= 0 :
    print(s[ch])
    ch = ch -1

h
d
u
s

In [219]:
name = "ineruon"
vowels = "AaEeIiOoUu"

for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else :
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
r is not a vowel
u is a vowel
o is a vowel
n is not a vowel

In [221]:
" {} name is sudh".format("my")

' my name is sudh'

In [227]:
a = input()
b = input()

fsdfs
fsdf

In [228]:
"{} name {} sudh {} ".format,(a, b, "Fsdfsfs")

'fsdfs name fsdf sudh Fsdfsfs '

In [229]:
a = "xyx"
b = 2002
c = "eye"
d = "nitin"

In [234]:
s = input("enter a data for which you would like to check pelindrom " )
s1 = s[::-1]
if s ==s1:
    print("its a same ")
else :
    print("its not a same ")

enter a data for which you would like to check pelindrom sudh
its not a same

In [235]:
l = ["sudh" , 34,34,45,[34,45]]

In [236]:
l[3]

45

In [237]:
l[0:3]

['sudh', 34, 34]

In [239]:
l[3:0:-1]

[45, 34, 34]

In [240]:
l[::-1]

[[34, 45], 45, 34, 34, 'sudh']

In [241]:
l

['sudh', 34, 34, 45, [34, 45]]

In [249]:
s = "sudh"
s = list(s)
s

['s', 'u', 'd', 'h']

In [251]:
s = ["sudh"]

In [252]:
l + s

['sudh', 34, 34, 45, [34, 45], 'sudh']

In [257]:
l

['sudh', 34, 34, 45, [34, 45]]

In [255]:
l *2

['sudh', 34, 34, 45, [34, 45], 'sudh', 34, 34, 45, [34, 45]]

In [256]:
len(l)

5

In [258]:
l

['sudh', 34, 34, 45, [34, 45]]

In [261]:
454 in l

False

In [150]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   13th jan python string and list manupulation.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/

no changes added to commit (use "git add" and/or "git commit -a")

In [151]:
!git add "13th jan python string and list manupulation.ipynb"

warning: LF will be replaced by CRLF in 13th jan python string and list manupulation.ipynb.
The file will have its original line endings in your working directory

In [152]:
!git commit -m "this is comiit "

[main c47fb85] this is comiit
 1 file changed, 841 insertions(+), 247 deletions(-)

In [153]:
!git push origin main

To https://github.com/sudheer554/Python.git
   545536f..c47fb85  main -> main

In [154]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/

nothing added to commit but untracked files present (use "git add" to track)

In [ ]:
!git