## 6.4.1 Tuples

In Python, `tuples` are similar to lists but they are immutable i.e. they cannot be changed. You would use the tuples to present data that shouldn't be changed, such as days of week or dates on  a calendar.

In this section, we will get a brief overview of the following key topics:

    1) Constructing Tuples
    2) Basic Tuple Methods
    3) Immutability
    4) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. But, Tuples work very similar to lists but the  major difference is tuples are immutable.

### Constructing Tuples

The construction of tuples use `()` with elements separated by commas where in the arguments will be passed within brackets. For example:

In [1]:
# empty tiple
# Check type just like a list


type(t)
t = ()
type(t)

tuple

In [7]:
# tuple with mixed data-type
t = (1,2,3,"iNeuron",True,25.36)
l = [1,2,3,"iNeuron",True,25.36]
s = "this is sudheer"

In [8]:
s[0]

't'

In [4]:
 # for slicing opration u will use same bracket like list and string
l[1]

2

In [5]:
t[0]

1

In [ ]:
# Can create a tuple with mixed types
t = (1,2,3)

tuple

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
l = ['sdf','sf']
l.sort()
l

['sdf', 'sf']

### Accessing value in tuples

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
# Slicing just like a list
t[-1]

2

In [ ]:
t[1:3]

(2,)

In [9]:
t[::-1]

(25.36, True, 'iNeuron', 3, 2, 1)

In [10]:
t[-1]

25.36

### Updating elements in tuple

Tuples are immutable so we cannot update or change the value of element in tuple. Instead we can take something from tuple and create new tuple out of it.

In [12]:
t1 = (10,20,2.5)
t2 = (True,"hi")

In [13]:

t1[0]

10

In [15]:
l[0] = "suri"

In [16]:
l

['suri', 2, 3, 'iNeuron', True, 25.36]

In [17]:
# this opeation is not possible in tuple, however we can do this by converting to list
t1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [19]:
# create new tuple from this 2 tuples
t3 = t1 + t2 # Concatenation of tuple
t3

(10, 20, 2.5, True, 'hi')

In [20]:
t3

(10, 20, 2.5, True, 'hi')

In [25]:
t4 = t3*2
t4

(10, 20, 2.5, True, 'hi', 10, 20, 2.5, True, 'hi')

In [26]:
2.5 in t4

True

In [27]:
max(t4)   #max will not work in combination of data 
        # even in lst combination of bada not work

TypeError: '>' not supported between instances of 'str' and 'int'

In [28]:
t_int = (2,3,4,5,6,7)
t_str = ("sudheer","suri","ravi")

In [31]:
max(t_int)

7

In [30]:

max(t_str)

'suri'

In [ ]:
# Or we can convert to list and re assign
t_list = list(t1)
t_list[0] = 1
t_list

[1, 20, 2.5]

### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's see spme samples of tuple built-in methods:

In [ ]:
# Length of tuple
len(t)

2

In [ ]:
# Repetition of tuple
t * 2

('one', 2, 'one', 2)

In [ ]:
# Check if element is a member of a tuple
3 in t

False

In [ ]:
# max eleemnt of a tuple
t = (1,5,89,45,4)
max(t)

89

In [ ]:
t= ("abc","DS","ineuron")
max(t)

'ineuron'

In [ ]:
t = (1,2,"abc") # max() not supported for different data types at a given tuple
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
# there are limited function tuples has

In [32]:
t

(1, 2, 3, 'iNeuron', True, 25.36)

In [33]:
# Use .index to enter a value and return the index
t.index(3)

2

In [ ]:
# Use .count to count the number of times a value appears
t.count('abc')

1

### Immutability

As tuples are immutable, it can't be stressed enough and add more into it. To drive that point home:

In [ ]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because tuple being immutable they can't grow. Once a tuple is made we can not add to it.

In [ ]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# min() of a tuple
t = (5,9,2,8)
min(t)

2

In [ ]:
# for min() all elements data type should be same in a tuple
t = ("True","False")
min(t)

'False'

In [ ]:
# tuple() will be used to convert list object to tuple while list() will be used to convert list objects to tuple

t = (1,2,3,4,5)

t = list(t) # converting to list and can do every operation which we can do with list

In [ ]:
t[0] = 6

In [ ]:
t , type(t)

([6, 2, 3, 4, 5], list)

In [ ]:
# Now convert back to tuple
t = tuple(t)
t

(6, 2, 3, 4, 5)

### When to use Tuples

You may be wondering, "Why to bother using tuples when they have a few available methods?" 

Tuples are not used often as lists in programming but are used when immutability is necessary. While you are passing around an object and if you need to make sure that it does not get changed then tuple become your solution. It provides a convenient source of data integrity.


You should now be able to create and use tuples in your programming as well as have a complete understanding of their immutability.

### Examples

In [47]:
t = ((3,4,5,6),("sudh",45,True),[3,4,5,76],(45,67),45,6,7)

In [48]:
t

((3, 4, 5, 6), ('sudh', 45, True), [3, 4, 5, 76], (45, 67), 45, 6, 7)

In [53]:
type(t[2]),t[2]

(list, [3, 4, 5, 76])

In [64]:
t[2][1],  t[2][1:4]

(4, [4, 5, 76])

In [66]:
t[1][0:2],t[1]

(('sudh', 45), ('sudh', 45, True))

In [67]:
for i in t:
    print(i)

(3, 4, 5, 6)
('sudh', 45, True)
[3, 4, 5, 76]
(45, 67)
45
6
7

((3, 4, 5, 6), ('sudh', 45, True), [3, 4, 5, 76], (45, 67), 45, 6, 7)

In [75]:
for i in t:
    if type(i) == tuple:
        print(i)

(3, 4, 5, 6)
('sudh', 45, True)
(45, 67)

In [76]:
for j in t:
    if type(j) == list:
        print(j)

[3, 4, 5, 76]

In [79]:
for i in t:
    if type(i) == tuple:
        print(i)
for j in t:
    if type(j) == list:
        print(j)

(3, 4, 5, 6)
('sudh', 45, True)
(45, 67)
[3, 4, 5, 76]

In [ ]:
# Remove an empty tuple(s) from a list of tuples.
t = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
L = [i for i in t if i]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [ ]:
# Nested tuples
t1 = (1,2)
t2 = (3,4)
nested= (t1,t2)
nested

((1, 2), (3, 4))

In [ ]:
t = (1)
del(t) # deleteing tuple
t # already deleted

NameError: name 't' is not defined

In [82]:
t_del = (4,5,6,7,8)
#del(t_del)

In [83]:
t_del

(4, 5, 6, 7, 8)

In [84]:
#Creating tuples in a if else 
  
t1 = ('abc', 'def') 
t2 = ('abc', 'def',3) 
  
if (len(t1) != len(t2)): 
    print('Not the same length') 
else: 
    print('Same length')

Not the same length

In [ ]:
covid_symptoms = ("cold","cough","throat-problem","BP","DB")

sym = input("Enter your symptoms: ")
if sym in covid_symptoms:
    print("There might be chances of COVID. Concern to doctor")
else:
    print("You are safe, but take precautions")

Enter your symptoms: cold
There might chances of COVID. Concern to doctor

In [85]:
l = ["sudheer",(3,45,6),True]

In [86]:
l

['sudheer', (3, 45, 6), True]

In [88]:
type(l[1])

tuple

In [92]:
l = ["a","b",1,2,["lis_1","lis_2"],("t_a","t_b"),True,False,35+2j]

In [93]:
l

['a', 'b', 1, 2, ['lis_1', 'lis_2'], ('t_a', 't_b'), True, False, (35+2j)]

## 6.4.2 Sets

`Sets` are an unordered collection of *unique* elements which can be constructed using the `set()` function. 

Let's go ahead and create a set to see how it works.

In [ ]:
x = set()

### Sets operations

In [ ]:
# We add to sets with the add() method
x.add(3)

In [ ]:
#Show
x

{3}

Note that the curly brackets do not indicate a dictionary! Using only keys, you can draw analogies as a set being a dictionary.

We know that a set has an only unique entry. Now, let us see what happens when we try to add something more that is already present in a set?

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

{2, 3}

In [ ]:
# Try to add the same element
x.add(2)

In [ ]:
#Show
x

{1, 2, 3}

In [128]:
s = set()

In [129]:
s.add("suri")

In [130]:
s.add("sdffifu")

In [131]:
s.([4,5,6])      # u can not add list
                 # even it is not suppoer nested list

SyntaxError: invalid syntax (Temp/ipykernel_23152/200649873.py, line 1)

In [133]:
s = set([45, 55, 55, 5566, 77, 'sudheer', 'Sudheer'])

In [134]:
s

{45, 55, 5566, 77, 'Sudheer', 'sudheer'}

In [135]:
s = set([45, 55, 55, 5566, 77, 'sudheer', 'Sudheer',["sudr","abc"]])

TypeError: unhashable type: 'list'

Notice, how it won't place another 2 there as a set is only concerned with unique elements! However, We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [102]:
l = [45,55,55,5566,77,"sudheer","Sudheer"] # case sensitive

In [103]:
l

[45, 55, 55, 5566, 77, 'sudheer', 'Sudheer']

In [106]:
s = set(l)

In [107]:
s

{45, 55, 5566, 77, 'Sudheer', 'sudheer'}

In [108]:
l

[45, 55, 55, 5566, 77, 'sudheer', 'Sudheer']

In [109]:
for i in s:
    print(i)    # i can do these kind of operations as well

77
45
sudheer
Sudheer
55
5566

In [111]:
s[0]    #indexing ope not work in set

TypeError: 'set' object is not subscriptable

In [110]:
45 in s   # this operation also i can do

True

In [112]:
# Cast as set to get unique values
l = set(l)
l

{45, 55, 5566, 77, 'Sudheer', 'sudheer'}

In [115]:
# Remove element from set
l.remove(55)
l

{45, 5566, 77, 'Sudheer', 'sudheer'}

In [116]:
l

{45, 5566, 77, 'Sudheer', 'sudheer'}

In [117]:
l.discard(6) # It will not givean error if element is not present

In [118]:
l

{45, 5566, 77, 'Sudheer', 'sudheer'}

In [119]:
l.remove(6) # It will give an error if element is notpresent

KeyError: 6

In [120]:
l

{45, 5566, 77, 'Sudheer', 'sudheer'}

In [121]:
l.clear() # Clear all elements in a set/
l

set()

In [122]:
l

set()

In [138]:
l = [3,4,5,6,7]

In [139]:
s = set()

In [140]:
s1 = set(l)

In [141]:
s + s1      # + operations are not allow

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [142]:
s * 2       # it wil give u only uniq vall then how it is multip

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
# Difference between two sets
x = {"datascience", "DS", "Bigdata"}
y = {"bigdata", "Apache", "pyspark"}

print(x.difference(y))
print(y.difference(x))

{'Bigdata', 'DS', 'ineuron'}
{'bigdata', 'pyspark', 'Apache'}

For more details ref:- 
    
https://docs.python.org/3.8/library/stdtypes.html#set-types-set-frozenset

In [123]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   17new file.ipynb
	modified:   list manupulaton.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	6.4 python tuple and sets.ipynb
	Tuples,set,dict.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [124]:
!git add "6.4 python tuple and sets.ipynb"

In [125]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   6.4 python tuple and sets.ipynb

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   17new file.ipynb
	modified:   list manupulaton.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	Tuples,set,dict.ipynb

In [126]:
!git commit -m "commiting to python cclass"

[main 9adad08] commiting to python cclass
 1 file changed, 2287 insertions(+)
 create mode 100644 6.4 python tuple and sets.ipynb

In [127]:
!git push origin main

To https://github.com/sudheer554/Python.git
   121a2ca..9adad08  main -> main